# CODEOWNERS
.github/workflows/ @masorange/cloud-cicd @masorange/cloud-sre
.github/CODEOWNERS @masorange/cloud-cicd @masorange/cloud-sre
CODEOWNERS @masorange/cloud-cicd @masorange/cloud-sre
DOCS/CODEOWNERS @masorange/cloud-cicd @masorange/cloud-sre